################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Exercises-IS_1_22/v16
/Exercise1/obj
/.vs
